#loginForm input{
    padding: 13px 13px 11px 13px;
    border: 1px solid #e7e7e7;
    width: 237px;
    font-size: 13px;
    text-align: center;
}
#loginForm{
    width: 300px;
    height:140px;
    text-align: center;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 15%;*/
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
/*background-color:#f6f6f6;
padding:20px;
maybe?? */
}
#login{
width:265px !important;
}
input{
-webkit-appearance: none;
border-radius: 0;
}